/*Estilos do split*/
.split {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.gutter {
    width: all;
    height: 100%;
    text-align: center;
    transition: all var(--transition-speed) ease-in-out; 
    border-radius: 5px;
}


.gutter:hover {
    background-color: var(--primary-color);
    background-repeat: no-repeat;
    background-position: 50%;
    
}

.gutter.gutter-horizontal:hover {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}
